@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Segoe UI', 'Fira Sans', 'Roboto', 'Oxygen', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
